.meal-component {
  margin-top: 2rem; }
  .meal-component .meal {
    width: 100%; }
  .meal-component .meals {
    display: flex;
    flex-wrap: wrap; }
  .meal-component .meals > div {
    flex: 0 50%; }
  .meal-component .meal-entries {
    background: whitesmoke;
    width: 50%; }
