.meal-component {
  margin-top: 2rem;

  .meal {
    width: 100%;
  }

  .meals {
    display: flex;
    flex-wrap: wrap;
  }

  .meals > div {
    flex: 0 50%;
  }

  .meal-entries {
    background: whitesmoke;
    width: 50%;
  }
}
