.meal-adder-component {
  .meal-adder-component-overlay {
    position: absolute;
    top: 60px;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .meal-adder-component-input {
    position: relative;
    margin: auto;
    width: 50%;
    margin-top: 3rem;
  }

  button {
    padding: 5px 10px;
    border: none;
    background: lightcoral;
    color: white;
  }

  .meal-adder-food-input {
    margin-bottom: 1rem;
    height: 2rem;
    button {
      height: 100%;
    }
    button i.ml-2 {
      margin-left: 0 !important;
    }
  }

  .food-input {
    width: 20rem;
    height: 100%;
    vertical-align: bottom;
  }

  .food {
    margin-bottom: 1.5rem;
  }

  .food li {
    margin-bottom: 0.5rem;
  }

  .react-datepicker-wrapper {
    margin-bottom: 1rem;
    width: 100%;
  }

  select {
    width: 100%;
  }
}
