.meal-adder-component .meal-adder-component-overlay {
  position: absolute;
  top: 60px;
  background-color: white;
  width: 100%;
  height: 100%; }

.meal-adder-component .meal-adder-component-input {
  position: relative;
  margin: auto;
  width: 50%;
  margin-top: 3rem; }

.meal-adder-component button {
  padding: 5px 10px;
  border: none;
  background: lightcoral;
  color: white; }

.meal-adder-component .meal-adder-food-input {
  margin-bottom: 1rem;
  height: 2rem; }
  .meal-adder-component .meal-adder-food-input button {
    height: 100%; }
  .meal-adder-component .meal-adder-food-input button i.ml-2 {
    margin-left: 0 !important; }

.meal-adder-component .food-input {
  width: 20rem;
  height: 100%;
  vertical-align: bottom; }

.meal-adder-component .food {
  margin-bottom: 1.5rem; }

.meal-adder-component .food li {
  margin-bottom: 0.5rem; }

.meal-adder-component .react-datepicker-wrapper {
  margin-bottom: 1rem;
  width: 100%; }

.meal-adder-component select {
  width: 100%; }
